.img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.imgBlock{
    height: 160px;
    overflow: hidden;
}
.container{
    margin: 15px;
    box-shadow: 0 2px 20px #ced0d9;
    width: 1000px;
    display: flex;
}
.description{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about{
    padding-top: 10px;
    text-align: start;
}
.secondBlock{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.block{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wrap{
    height: 50px;
    text-align: center;
    width: 50px;
    background-color: lightgrey;
    font-size: 30px;
    outline: none;
    border: 0;
    cursor: pointer;
}
.count{
    font-size: 38px;
}