.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 50px;
}